:root {
  --dark: #0b2447;
  --light: #576cbc;
  --normal: #a5d7e8;
}

@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Roboto+Slab:wght@100..900&display=swap");

.hero-left-cont  {
  padding: 80px;
}
.hero-right-cont  {
  padding: 50px;
}
.hero-left-cont img {
  border: 2px solid var(--dark);
  border-radius: 50%;
}
